.tag {
  height: 25px;
  /* width: 115px; */
  border-radius: 10px;
  background-color: #FF6060;
  font-size: 14px;
  justify-content: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .tag {
    height: 20px;
    font-size: 12px;
  }

}