.section-information {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 200px;
  box-sizing: border-box;
  animation: appear 1s;
}
.location {
  width: 80%;
  height: 100%;
  color: #FF6060;
}
.location > .title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.location > .city {
  font-size: 18px;
  font-weight: 500;
}

.section-tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 10px;

}

.bl-host {
  width: 20%;

}
.host {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  color: #FF6060;
  gap: 10px;
}
.name-host {
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.picture-host {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #C4C4C4;
}
.rating {
  width: 100%;
  height: 40%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}

.rating-full {
  height: 30px;
  width: 30px;
}
.rating-empty {
  height: 30px;
  width: 30px;
}

.section-collapse {
  display: flex;
  /* justify-content: space-between;
  height: 300px; */
  gap: 10%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-collapse {
    flex-wrap: wrap;
  }
  .section-information {
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-collapse {
    flex-direction: column;
  }

  .section-information {
    height: max-content;
    gap: 10px;
  }

  .bl-host {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .host {
    width: 50%;
    justify-content: flex-end;
    height: 60px;
  }
  .name-host {
    justify-content: center;
    font-size: 12px;
    width: 30%;
  }
  .rating {
    width: 50%;
    justify-content: flex-start;
    order: -1;
    margin-top: 0;
    align-items: center;
    gap: 5px;
  }
  .location {
    width: 100%;
    height: 80px;
  }
  .location > .title {
    font-size: 18px;
    font-weight: 500;
  }
  .location > .city {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
  .section-tags {
    margin-top: 10px;
  }
  .rating-full {
    height: 15px;
    width: 15px;
  }
  .rating-empty {
    height: 15px;
    width: 15px;
  }
  .picture-host {
    height: 32px;
    width: 32px;
  }
  .section-tags {
    flex-wrap: wrap;
  }
}