.kasa-header {
  display: flex;
	align-items: center;
  justify-content: space-between;
  color: #FF6060;
  font-size: 24;
  height: 68px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.nav-header {
  display: flex;
  flex-direction: row;
	align-items: center;
  color: #FF6060;
  font-size: 24px;
  gap: 10px;
  font-family: 'montserrat';
  font-weight: 500;
  width: 309px;
  justify-content: flex-end;
}

.button-header {
  width: 136px;
  height: 38px;
  justify-content: center;  
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

}


.button-header:visited {
  text-decoration: none;
  color: #FF6060;
}
.button-header:hover {
  text-decoration: underline;

}
.button-header:active {
  font-weight: 700;
}

.logo-header {
  height: 100%;
}