.error-number {
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  color: #FF6060;
  ;
}

.message-errorpage {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6060;
  text-align: center;

}

.main-errorpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-return > .link-return-home {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  color: #FF6060;
  text-align: center;

}