.kasa-footer {
  height: 209px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin-left: -3%;
  margin-right: -3%;
  margin-top: 350px;
}

.logo-footer {
  width: 375px;
  height: 100%;
}